/* CSS de la page suppression avortement */

/* mise en forme du corp de page */
div#corp {
         background-color: grey;
         color: white;
         cursor: default;
         }
         
/* définition du titre de la page */
div#corp h1 {
            margin-top: 20px; /* définition de la hauteur du titre */
            text-align: center; /* centrage du titre */
            font-size: 27px; /* taille du titre */
            text-decoration: underline; /* soulignement du titre */
            font-weight: bold; /* mise en gras de la police du titre */
            color: white; /* définition de la couleur de police */
            }
            
/* définition du deuxieme titre */
div#corp h2 {
            margin-top: 25px; /* définition de l'espacement entre le titre et le sous titre */
            font-size: 25px; /* définition de la taille du sous titre */
            text-align: center; /* centrage du sous titre */
            font-weight: bold; /* mise en gras de la police */
            color: cyan; /* mise en couleur de la police */
            }
            
div#corp h3 {
            margin-top: 0px;
            margin-bottom: 5px;
            text-align: center;
            font-size: 25px;
            font-weight: bold;
            }
         
/* définition de bloque qui comprend les paragraphes   */
div#corp blockquote {
         margin-top: 100px; /* eloignement de blockquote du sous titre */
         margin-bottom: 0px; /* annulation de la marge du haut */
         margin-left: auto; /* réglage de la marge gauche auto du bloque pour un centrage */
         margin-right: auto;  /* réglage de la marge droite auto du bloque pour un centrage */
         width: 450px; /* définition de la lageur du bloc */
         padding-top: 10px;  /* retrait interne du bloque pour éloigner le premier paragraphe du haut de la page */
         padding-bottom: 10px;
         background-color: yellow;
         }
 
/* définition des paragraphes du corp du page */          
div#corp p {
         margin-top: 0px; /* mise à zéro de la marge du haut des paragraphe pour les coller */
         margin-bottom: 0px; /* mise à zéro de la marge du bas pour les coller */
         margin-left: 0px; /* définition de la marge gauche des paragraphes */
         margin-right: 0px; /* definition de la marge droite des paragraphes */
         font-size: 25px; /* définition de la grandeur de police pour les paragraphe */
         font-weight: bold; /* mise en gras des paragraphes */
         text-align: center; /* définition de l'alignement des paragraphes */ 
         color: black; /* couleur de la police de caractere */
           }
           
/* deffinition du paragraphe d'avertissement */
div#corp .avertissement {
                         /* display: inline; */ /* mise en block du mot */
                         text-align: center; /* alignement du paragraphe à gauche */
                         padding: 3px; /* definitin des marges interieurs pour un eloignement du bord */
                         /* font-size: 23px; */ /* definition de la grandeur de la police */
                         font-weight: bold; /* mise en gras du texte */
                         /* background-color: red; */ /* definition de la couleur de fond */
                         color: red;
                         }
